/* All */

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 100px
}

.button {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Header */

header {
    margin:15px;
}

#header-logo {
    width: 148px;
    height: 40px;
}

.nav-link {
    color: grey;
    font-weight: bold;
}


/* Log in */
.login {
    margin-bottom: 20px;
}

.sign-in-up-input {
    margin-top: 15px;
}


/* Job summary page */

.job-summary-box {
    margin: 15px;
}

.job-summaries {
    max-width: 100%;
}

/* Footer */
 footer {
    background-color: #206CC2;
    color: white;
 }

 .footer-link:hover {
     color: #4ac0d2;
 }

 .social-svg {
     max-height: 35px;
 }

 .social-media {
     padding-right: 40px;
     list-style-type: none;
 }
