/* All */

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 100px
}

.bold {
    font-weight: bold;
}

.button {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

/* Header */

header {
    margin:15px;
}

#header-logo {
    width: 148px;
    height: 40px;
}

.nav-link {
    color: grey;
    font-weight: bold;
}


/* Log in */
.login {
    margin-bottom: 20px;
}


/* Job summary page */

.job-summary-box {
    margin: 15px;
    
}

.job-summaries {
    max-width: 100%;
}

/* Job Main Page */

/* .job-page-main {
    padding-right: 100px;
} */

.job-page-side-bar {
    border-color: grey;
    border-width: 1px;
    border-radius: 1%;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding:20px;
    margin-bottom: 10px;
    height: 100%;
}

.job-page-side-bar-item {
    padding: 10px;
}

.job-page-side-bar-item p {
    margin: 0px;
}

.apply-link {
    color: white;
    text-decoration: none;
    
}

/* Footer */
 footer {
    background-color: #206CC2;
    color: white;
 }

 .footer-link {
     color: white;
     text-decoration: none;
 }

 .social-svg {
     max-height: 50px;
 }

 .social-media {
     padding-right: 40px;
     list-style-type: none;
 }




